/.env
/.vscode
/vendor
/node_modules

# PHPDoc
/.phpdoc
/docs

# Code quality
/.scannerwork

# Styling
/.php-cs-fixer.cache

# CSS
/public/css/vendor/*
!/public/css/vendor/.gitkeep

# Logging
/storage/*
!/storage/.gitkeep
