{layout '../layouts/default.latte'}

{block header}
<p class="title">Centros</p>
{/block}

{block content}
<div class="columns is-centered is-vcentered is-multiline">
{foreach $centros as $centro}
  {if $centro->alfilws !== ""}
  <div class="column is-narrow">
    {include '../components/card.latte', name: $centro->nombre, url: path('/centros/titulaciones/' . $centro->alfilws)}
  </div>
  {/if}
{/foreach}
</div>
{/block}
