{layout '../layouts/hero.latte'}

{block content}
  <div class="box">
    <p class="title">WikiUMA <small>ng</small></p>
    <p class="subtitle">Califica a tus profesores de forma anónima</p>
    <div class="buttons is-centered">
      <a class="button is-primary" href="{path('/centros')}">Empezar</a>
      <a class="button is-info" href="{path('/about')}">Acerca de</a>
    </div>
  </div>
{/block}
