<article class="media">
  <figure class="media-left">
    <div class="note has-background-{color($note)}">
      <p>{$note}</p>
    </div>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{$username}</strong>
        <br>
        {$message}
      </p>
    </div>
  </div>
</article>
